{#
  ~ Copyright (c) 2020 Ratepay GmbH
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
#}

{% block ratepay_profile_config_list %}
<sw-page class="ratepay-profile-config-list">

    <template #smart-bar-header>
        <h2>{{ $t('ratepay.profileConfig.componentTitle') }}</h2>
    </template>

    {% block ratepay_profile_config_list_smart_bar_actions %}
        <template #smart-bar-actions>
            <sw-button variant="primary" :routerLink="{ name: 'ratepay.profile.config.create' }">
                {{ $t('ratepay.profileConfig.page.list.createButton') }}
            </sw-button>
        </template>
    {% endblock %}

    <template #content>
        {% block ratepay_profile_config_list_content %}
            <sw-entity-listing
                v-if="entities"
                :items="entities"
                :repository="repository"
                :showSelection="false"
                :columns="columns"
                :identifier="'ratepay-profile-config-list'"
                detailRoute="ratepay.profile.config.detail">

                <template #column-status slot-scope="{ item }">
                    <sw-color-badge color="red" v-if="item.status === false" ></sw-color-badge>
                    <span v-if="item.status === false">&nbsp;&nbsp;{{ $t('ratepay.profileConfig.global.labels.inactive') }}</span>
                    <sw-color-badge color="green" v-if="item.status === true"></sw-color-badge>
                    <span v-if="item.status === true">&nbsp;&nbsp;{{ $t('ratepay.profileConfig.global.labels.active') }}</span>
                </template>

                <template #column-onlyAdminOrders slot-scope="{ item }">
                    <span v-if="item.onlyAdminOrders">{{ $t('global.default.yes') }}</span>
                    <span v-if="!item.onlyAdminOrders">{{ $t('global.default.no') }}</span>
                </template>

                <template #column-sandbox slot-scope="{ item }">
                    <span v-if="item.sandbox">{{ $t('global.default.yes') }}</span>
                    <span v-if="!item.sandbox">{{ $t('global.default.no') }}</span>
                </template>

                <template #column-salesChannel slot-scope="{ item }">
                    {{ item.salesChannel.name }}
                </template>
            </sw-entity-listing>
        {% endblock %}
    </template>
</sw-page>
{% endblock %}
