{#
  ~ Copyright (c) 2020 Ratepay GmbH
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
#}

{% block ratepay_personal_data_phone %}
    <div class="form-row row">
        <div class="form-group col-sm-4">
            <label class="form-label">
                <strong>{{ "account.personalPhoneLabel"|trans|sw_sanitize }}</strong>
            </label>
            <input type="text"
                   class="form-control{% if formViolations.getViolations('/ratepay/phone') is not empty %} is-invalid{% endif %}"
                   placeholder="{{ "account.personalPhonePlaceholder"|trans|sw_sanitize }}" value="{{ page.extensions.ratepay.phoneNumber }}"
                   name="ratepay[phone]"
                   form="confirmOrderForm"
            >
        </div>
    </div>
{% endblock %}
