<div class="form-row">
    <div class="form-group col-sm-12">
        <label class="form-label">
            {{ "Ratepay.RatepayPayments.formLabelPhone" | trans }}
        </label>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-sm-4">
        <input type="text" class="form-control" placeholder="{{ "Ratepay.RatepayPayments.fieldPhone" | trans }}" name="ratepay[phone]" form="confirmOrderForm" required="required">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-sm-12">
        {{ "Ratepay.RatepayPayments.phoneHint" | trans }}
    </div>
</div>
