<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020 RatePAY GmbH
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Settings</title>
        <title lang="de-DE">Einstellungen</title>

        <input-field type="bool">
            <name>ratepayDebugMode</name>
            <label>Enable Debug-Mode</label>
            <label lang="de-DE">Debug-Modus aktivieren</label>
        </input-field>

        <input-field type="bool">
            <name>ratepayDevicefingerprintingButton</name>
            <label>Device fingerprinting</label>
            <label lang="de-DE">Device fingerprinting</label>
        </input-field>

        <input-field type="text">
            <name>ratepayDevicefingerprintingSnippetId</name>
            <label>Snippet ID</label>
            <label lang="de-DE">Snippet ID</label>
            <value>ratepay</value>
        </input-field>


    </card>
    <!-- waiting for this: https://issues.shopware.com/issues/NEXT-7670 -->
    <card>
        <title>Bidirectionality</title>
        <title lang="de-DE">Bidirektionalität</title>
        <input-field type="bool">
            <name>bidirectionalityEnabled</name>
            <label>Enable</label>
            <label lang="de-DE">Aktivieren</label>
            <value>0</value>
        </input-field>
        <input-field type="single-select">
            <name>bidirectionalityStatusFullDelivery</name>
            <options>
                <option>
                    <id>shipped</id>
                    <name>shipped</name>
                    <name lang="de-DE">Ausgeliefert</name>
                </option>
            </options>
            <defaultValue>shipped</defaultValue>
            <label>Status for `delivery completed`</label>
            <label lang="de-DE">Status für Volllieferung</label>
        </input-field>

        <input-field type="single-select">
            <name>bidirectionalityStatusFullCancel</name>
            <options>
                <option>
                    <id>cancelled</id>
                    <name>Cancelled</name>
                    <name lang="de-DE">Abgebrochen</name>
                </option>
            </options>
            <defaultValue>cancelled</defaultValue>
            <label>Status for `cancelled`</label>
            <label lang="de-DE">Status für Vollstornierung</label>
        </input-field>

        <input-field type="single-select">
            <name>bidirectionalityStatusFullReturn</name>
            <options>
                <option>
                    <id>returned</id>
                    <name>returned</name>
                    <name lang="de-DE">Retourniert</name>
                </option>
            </options>
            <defaultValue>returned</defaultValue>
            <label>Status for `returned`</label>
            <label lang="de-DE">Status für Vollretournierung</label>
        </input-field>
    </card>

</config>
