<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020 Ratepay GmbH
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Settings</title>
        <title lang="de-DE">Einstellungen</title>

        <!-- Not in use, yet. -->
        <!--input-field type="bool">
            <name>ratepayDebugMode</name>
            <label>Enable Debug-Mode</label>
            <label lang="de-DE">Debug-Modus aktivieren</label>
        </input-field-->

        <input-field type="text">
            <name>ratepayDevicefingerprintingSnippetId</name>
            <label>Snippet ID</label>
            <label lang="de-DE">Snippet ID</label>
            <value>ratepay</value>
        </input-field>


    </card>
    <!-- waiting for this: https://issues.shopware.com/issues/NEXT-7670 -->
    <card>
        <title>Payment status after order completion</title>
        <title lang="de-DE">Zahlungsstatus nach Bestellabsschluss</title>
        <input-field type="single-select">
            <name>paymentStatusInvoice</name>
            <options>
                <option><id>fail</id><name>Failed</name><name lang="de-DE">Fehlgeschlagen</name></option>
                <option><id>authorize</id><name>Authorized</name><name lang="de-DE">Autorisiert</name></option>
                <option><id>remind</id><name>Reminded</name><name lang="de-DE">Erinnert</name></option>
                <option><id>do_pay</id><name>In Progress</name><name lang="de-DE">In Bearbeitung</name></option>
                <option><id>cancel</id><name>Cancelled</name><name lang="de-DE">Abgebrochen</name></option>
                <option><id>pay</id><name>Paid</name><name lang="de-DE">Bezahlt</name></option>
                <option><id>pay_partially</id><name>Paid (partially)</name><name lang="de-DE">Teilweise bezahlt</name></option>
                <option><id>open</id><name>Open</name><name lang="de-DE">Offen</name></option>
            </options>
            <defaultValue>authorize</defaultValue>
            <label>Invoice</label>
            <label lang="de-DE">Kauf auf Rechnung</label>
        </input-field>
        <input-field type="single-select">
            <name>paymentStatusDebit</name>
            <options>
                <option><id>fail</id><name>Failed</name><name lang="de-DE">Fehlgeschlagen</name></option>
                <option><id>authorize</id><name>Authorized</name><name lang="de-DE">Autorisiert</name></option>
                <option><id>remind</id><name>Reminded</name><name lang="de-DE">Erinnert</name></option>
                <option><id>do_pay</id><name>In Progress</name><name lang="de-DE">In Bearbeitung</name></option>
                <option><id>cancel</id><name>Cancelled</name><name lang="de-DE">Abgebrochen</name></option>
                <option><id>pay</id><name>Paid</name><name lang="de-DE">Bezahlt</name></option>
                <option><id>pay_partially</id><name>Paid (partially)</name><name lang="de-DE">Teilweise bezahlt</name></option>
                <option><id>open</id><name>Open</name><name lang="de-DE">Offen</name></option>
            </options>
            <defaultValue>authorize</defaultValue>
            <label>Debit</label>
            <label lang="de-DE">Lastschrift</label>
        </input-field>
        <input-field type="single-select">
            <name>paymentStatusInstallment</name>
            <options>
                <option><id>fail</id><name>Failed</name><name lang="de-DE">Fehlgeschlagen</name></option>
                <option><id>authorize</id><name>Authorized</name><name lang="de-DE">Autorisiert</name></option>
                <option><id>remind</id><name>Reminded</name><name lang="de-DE">Erinnert</name></option>
                <option><id>do_pay</id><name>In Progress</name><name lang="de-DE">In Bearbeitung</name></option>
                <option><id>cancel</id><name>Cancelled</name><name lang="de-DE">Abgebrochen</name></option>
                <option><id>pay</id><name>Paid</name><name lang="de-DE">Bezahlt</name></option>
                <option><id>pay_partially</id><name>Paid (partially)</name><name lang="de-DE">Teilweise bezahlt</name></option>
                <option><id>open</id><name>Open</name><name lang="de-DE">Offen</name></option>
            </options>
            <defaultValue>authorize</defaultValue>
            <label>Installment</label>
            <label lang="de-DE">Ratenzahlung</label>
        </input-field>
        <input-field type="single-select">
            <name>paymentStatusInstallment0Percent</name>
            <options>
                <option><id>fail</id><name>Failed</name><name lang="de-DE">Fehlgeschlagen</name></option>
                <option><id>authorize</id><name>Authorized</name><name lang="de-DE">Autorisiert</name></option>
                <option><id>remind</id><name>Reminded</name><name lang="de-DE">Erinnert</name></option>
                <option><id>do_pay</id><name>In Progress</name><name lang="de-DE">In Bearbeitung</name></option>
                <option><id>cancel</id><name>Cancelled</name><name lang="de-DE">Abgebrochen</name></option>
                <option><id>pay</id><name>Paid</name><name lang="de-DE">Bezahlt</name></option>
                <option><id>pay_partially</id><name>Paid (partially)</name><name lang="de-DE">Teilweise bezahlt</name></option>
                <option><id>open</id><name>Open</name><name lang="de-DE">Offen</name></option>
            </options>
            <defaultValue>authorize</defaultValue>
            <label>Installment (0% financing)</label>
            <label lang="de-DE">Ratenzahlung (0% Finanzierung)</label>
        </input-field>
    </card>

    <card>
        <title>Product page: Instalment plan</title>
        <title lang="de-DE">Produktseite: Ratenplan</title>
        <input-field type="bool">
            <name>productInstallmentCalculatorEnabled</name>
            <label>Enable</label>
            <label lang="de-DE">Aktivieren</label>
            <value>0</value>
        </input-field>

        <component name="sw-entity-single-select">
            <name>productInstallmentCalculatorBillingCountry</name>
            <label>Billing country</label>
            <label lang="de-DE">Rechnungsland</label>
            <entity>country</entity>
        </component>

        <component name="sw-entity-single-select">
            <name>productInstallmentCalculatorShippingCountry</name>
            <label>Shipping country</label>
            <entity>country</entity>
        </component>

        <component name="sw-entity-single-select">
            <name>productInstallmentCalculatorPaymentMethod</name>
            <label>Payment method (needs to be instalment or zero-percent financing)</label>
            <label>Zahlart (muss Ratenzahlung oder 0% Finanzierung sein)</label>
            <entity>payment_method</entity>
        </component>
    </card>

    <card>
        <title>Bidirectionality</title>
        <title lang="de-DE">Bidirektionalität</title>
        <input-field type="bool">
            <name>bidirectionalityEnabled</name>
            <label>Auto-deliver/cancel/refund of order-items based on delivery status</label>
            <label lang="de-DE">Automatischer Versand/Abbruch/Erstattung der bestellpositionen basierend auf dem Lieferstatus</label>
            <value>0</value>
        </input-field>

        <input-field type="bool">
            <name>updatePaymentStatus</name>
            <label>Update payment status on deliver/cancel/refund order-item</label>
            <label lang="de-DE">Aktualisiere Zahlungsstatus beim Versenden/Abbrechen/Erstatten von Bestellpositionen</label>
            <value>0</value>
        </input-field>

        <input-field type="bool">
            <name>updateDeliveryStatus</name>
            <label>Update delivery status on deliver/cancel order-item</label>
            <label lang="de-DE">Aktualisiere Lieferstatus beim Versenden/Abbrechen von Bestellpositionen</label>
            <helpText>We don't update the delivery status for a refund, as we cannot guarantee whether the refund is for a return or just a refund.</helpText>
            <helpText lang="de-DE">Wir aktualisieren den Lieferstatus nicht bei einer Erstattung, da wir nicht sicherstellen können, ob es sich bei Erstattung um eine Retoure oder nur eine Erstattung handelt.</helpText>
            <value>0</value>
        </input-field>
    </card>

    <card>
        <title>Advanced settings</title>
        <title lang="de-DE">Erweiterte Einstellungen</title>
        <input-field type="single-select">
            <name>additionalAddressLine</name>
            <options>
                <option><id>disabled</id><name>Disable</name><name lang="de-DE">Deaktiviert</name></option>
                <option><id>combined</id><name>Additional address line 1 + line 2 (concatenated by a space)</name><name lang="de-DE">Adresszusatz Zeile 1 + Adresszusatz Zeile 2 (kombiniert, getrennt mit einem Leerzeichen)</name></option>
                <option><id>line-1</id><name>Additional address line 1</name><name lang="de-DE">Adresszusatz Zeile 1</name></option>
                <option><id>line-2</id><name>Additional address line 2</name><name lang="de-DE">Adresszusatz Zeile 2</name></option>
            </options>
            <defaultValue>disabled</defaultValue>
            <label>Submit additional address line</label>
            <label lang="de-DE">Übertrage Adresszusatz</label>
        </input-field>

        <input-field type="bool">
            <name>sendDiscountsAsCartItem</name>
            <value>0</value>
            <label>Send discounts as cart items</label>
            <label lang="de-DE">Übertrage Rabatte als Warenkorbpositionen</label>
        </input-field>

        <input-field type="bool">
            <name>sendShippingCostsAsCartItem</name>
            <value>0</value>
            <label>Send shipping costs as cart items</label>
            <label lang="de-DE">Übertrage Versandkosten als Warenkorbpositionen</label>
        </input-field>

        <input-field type="bool">
            <name>disableAutoDeliveryOfVirtualProducts</name>
            <value>0</value>
            <label>Disable auto-delivery of virtual products</label>
            <label lang="de-DE">Automatische Versandmeldung von virtuellen Produkten deaktivieren</label>
        </input-field>

        <input-field type="textarea">
            <name>featureFlags</name>
            <label>Feature Flags</label>
            <label lang="de-DE">Feature Flags</label>
            <helpText>Have a look into the README.md file of the plugin for a list of all flags. Please use them with care.</helpText>
            <helpText lang="de-DE">In der README.md Datei sind alle Feature-Flags aufgelistet. Diese Funktion sollte nur mit Vorsicht genutzt werden.</helpText>
        </input-field>
    </card>

</config>
