{% block ratepay_api_log_detail %}
<sw-page class="ratepay-api-log-detail">
    <template slot="smart-bar-actions">
        <sw-button :routerLink="{ name: 'ratepay.logViewer.list' }">
            {{ $t('ratepay.log_viewer.page.detail.cancelButtonText') }}
        </sw-button>
    </template>

    <template slot="content">
        <sw-card-view>
            <sw-card v-if="entity" :isLoading="isLoading">

                <sw-container>
                    <h2>{{ $t('ratepay.api_log.global.labels.request') }}</h2>
                    <div><code>{{ entity.response }}</code></div>
                </sw-container>
            </sw-card>

            <sw-card v-if="entity" :isLoading="isLoading">
                <sw-container>
                    <h2>{{ $t('ratepay.api_log.global.labels.response') }}</h2>
                    <div><code>{{ entity.response }}</code></div>
                </sw-container>
            </sw-card>
        </sw-card-view>
    </template>
</sw-page>
{% endblock %}
