{#
  ~ Copyright (c) 2020 Ratepay GmbH
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
#}

{% if page.extensions.ratepay.transactionId %}
    {% sw_include '@RatepayPaments/storefront/page/checkout/ratepay/common/transaction-id.html.twig' with {'transactionId': page.extensions.ratepay.transactionId} %}
{% endif %}

{% if page.extensions.ratepay.validation %}
    <input type="hidden" name="ratepay[validation][billing_address_md5]" value="{{ page.extensions.ratepay.validation.billing_address_md5 }}" form="confirmOrderForm"/>
    <input type="hidden" name="ratepay[validation][shipping_address_md5]" value="{{ page.extensions.ratepay.validation.shipping_address_md5 }}" form="confirmOrderForm"/>
{% endif %}

{% block ratepay_checkout_sandbox_info %}
    {% if (page.extensions.ratepay.isSandbox) %}
        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
            type: "warning",
            content: "ratepay.storefront.checkout.hints.sandboxInfo"|trans
        } %}
    {% endif %}
{% endblock %}

{% block ratepay_checkout_fields %}
    {% if (page.extensions.ratepay.company) %}
        {#% if page.extensions.ratepay.vatId is null %#}
            {% sw_include '@RatepayPaments/storefront/page/checkout/ratepay/common/vatid.html.twig' %}
        {#% endif %#}
    {% else %}
        {#% if page.extensions.ratepay.birthday is null %#}
            {% sw_include '@RatepayPaments/storefront/page/checkout/ratepay/common/birthday.html.twig' %}
        {#% endif %#}
    {% endif %}
    {#% if page.extensions.ratepay.phoneNumber is null %#}
        {% sw_include '@RatepayPaments/storefront/page/checkout/ratepay/common/phone.html.twig' %}
    {#% endif %#}
{% endblock %}

{% block ratepay_legal_textes %}
    <div class="form-row row">
        <div class="form-group col-sm-12">
            {{ "ratepay.storefront.checkout.hints.legalText"|trans|raw }}
        </div>
    </div>
{% endblock %}
