{% block ratepay_billing_form %}
    {%  if (page.extensions.ratepay.ratepayMethodIsSelected) %}
        <div class="ratepay--billing-form">
            <div class="row">
                <div class="col-md-12">
                    <div class="card checkout-card">
                        <div class="card-body">
                            <div class="card-title">
                                {{ context.paymentMethod.translated.name }}
                            </div>
                            <div class="card-body">
                                {% block ratepay_payment_content %}

                                    {% sw_include '@RatepayPaments/storefront/page/checkout/ratepay/customer_data/ratepay-customer-data-birthday.html.twig' %}
                                    {% sw_include '@RatepayPaments/storefront/page/checkout/ratepay/customer_data/ratepay-customer-data-phone.html.twig' %}

                                    {%  if (page.extensions.ratepay.company) %}
                                        {% sw_include '@RatepayPaments/storefront/page/checkout/ratepay/customer_data/ratepay-customer-data-vatid.html.twig' %}
                                    {% endif %}

                                    {%  if (page.extensions.ratepay.bankAccountRequired) %}
                                        {% sw_include '@RatepayPaments/storefront/page/checkout/ratepay/ratepay-bank-account.html.twig' %}
                                    {%  endif %}

                                    {%  if (page.extensions.ratepay.isInstallmentMethod) %}
                                        {% sw_include '@RatepayPaments/storefront/page/checkout/ratepay/ratepay-installment-calculator.html.twig' %}
                                    {%  endif %}

                                    {%  if (page.extensions.ratepay.isZeroPercentInstallment) %}

                                    {%  endif %}

                                {% endblock %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {%  endif %}
{% endblock %}
