{% block ratepay_personal_data_bank_account %}

    <div class="form-row">
        <div class="form-group col-sm-12">
            <label class="form-label">
                {{ "document.bankAccount"|trans|sw_sanitize }}
            </label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-4">
            {# // TODO @aarends groß/kleinschreibung? wieso hast du die wörter groß geschrieben? hier wäre sowas schöner: `ratepay.storefront.checkout.fields.iban` (wenn storefront nicht benötigt wird, ist auch ohne ok. (gilt natürlich für alle snippets) #}
            <input type="text" class="form-control" id="rp-iban-account-number" placeholder="{{ "Ratepay.RatepayPayments.fields.iban"|trans }}" name="ratepay[iban]" form="confirmOrderForm" required="required">
        </div>
        <div class="form-group col-sm-4" id="rp-form-bank-code" style="display:none;">
            <input type="text" class="form-control" id="rp-bank-code" placeholder="{{ "Ratepay.RatepayPayments.fields.bic"|trans }}" name="ratepay[bic]" form="confirmOrderForm">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-12">
            <a href="" data-toggle="modal" data-target="#ratepay_sepa_text">{{ ratepayStaticTexts.rp_sepa_link|sw_sanitize }}</a>
        </div>
    </div>

{% endblock %}
