{% block ratepay_api_log_list %}
<sw-page class="ratepay-log-viewer-list">
    <template slot="content">
        {% block ratepay_api_log_list_content %}
            <sw-entity-listing
                v-if="entities"
                :items="entities"
                :repository="repository"
                :showSelection="false"
                :columns="columns"
                :showActions="false">

                <template slot="column-response" slot-scope="{ item }">
                    <sw-button @click="modalItem = item">
                        {{ $t('ratepay.apiLog.modal.openTitle') }}
                    </sw-button>
                    <sw-modal :title="$t('ratepay.apiLog.global.labels.viewLog')" v-if="modalItem && modalItem.id === item.id" class="ratepay-xml-log-modal" @modal-close="modalItem = null">
                        <div class="flex-container">
                            <div>
                                <span class="heading">{{ $t('ratepay.apiLog.modal.request.heading') }}</span>
                                <pre>{{ formatXml(modalItem.request) }}</pre>
                            </div>
                            <div>
                                <span class="heading">{{ $t('ratepay.apiLog.modal.response.heading') }}</span>
                                <pre>{{ formatXml(modalItem.response) }}</pre>
                            </div>
                        </div>
                    </sw-modal>
                </template>
            </sw-entity-listing>
        {% endblock %}
    </template>
</sw-page>
{% endblock %}
