{#
  ~ Copyright (c) 2020 Ratepay GmbH
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
#}

{% block ratepay_api_log_list %}
<sw-page class="ratepay-log-viewer-list">

    {% block ratepay_api_log_list_search_bar %}
        <template #search-bar>
            <sw-search-bar initialSearchType="ratepay_api_log"
                           :initialSearch="searchTerm"
                           @search="onSearch">
            </sw-search-bar>
        </template>
    {% endblock %}

    <template slot="smart-bar-header">
        <h2>{{ $t('ratepay.apiLog.componentTitle') }}</h2>
    </template>

    {% block ratepayapilog_list_smart_bar_actions %}
        <template slot="smart-bar-actions">
            <sw-button-process variant="primary"
                               @click="loadData"
                               :isLoading="isLoading"
                               :processSuccess="isLoaded"
                               @process-finish="isLoaded = false">
                {{ $t('ratepay.apiLog.page.list.reload') }}
            </sw-button-process>
        </template>
    {% endblock %}

    <template slot="content">
        {% block ratepay_api_log_list_content %}
            <sw-entity-listing
                v-if="entities"
                :items="entities"
                :repository="repository"
                :showSelection="false"
                :columns="columns"
                :showActions="true"
                :identifier="'ratepay-api-log-list'">

                <template slot="column-createdAt" slot-scope="{ item }">
                    {{ item.createdAt| date({hour: '2-digit', minute: '2-digit'}) }}
                </template>

                <template slot="column-response" slot-scope="{ item }">
                    <sw-button @click="modalItem = item">
                        {{ $t('ratepay.apiLog.modal.openTitle') }}
                    </sw-button>
                    <sw-modal :title="$t('ratepay.apiLog.global.labels.viewLog')" v-if="modalItem && modalItem.id === item.id" class="ratepay-xml-log-modal" @modal-close="modalItem = null">
                        <div class="flex-container">
                            <div>
                                <span class="heading">{{ $t('ratepay.apiLog.modal.request.heading') }}</span>
                                <pre class="content" v-html="formatXml(modalItem.request)"></pre>
                            </div>
                            <div>
                                <span class="heading">{{ $t('ratepay.apiLog.modal.response.heading') }}</span>
                                <pre class="content" v-html="formatXml(modalItem.response)"></pre>
                            </div>
                        </div>
                    </sw-modal>
                </template>

                <template #delete-action="{ }">
                    {# remove delete link TODO is there a better solution? #}
                    <span style="display: none;"></span>
                </template>
            </sw-entity-listing>
        {% endblock %}
    </template>
</sw-page>
{% endblock %}
