<sw-card
    :title="$tc('ratepay.articlePanel.title')"
    class="ratepay-article-panel">
    <sw-container>
        <sw-card
            class="tabs-card">
            <sw-tabs>
                <sw-tabs-item name="shipping" @click="activeTab = 'shipping'">
                    {{ $t('ratepay.articlePanel.tab.shippingCancel') }}
                </sw-tabs-item>
                <sw-tabs-item name="retoure" @click="activeTab = 'return'">
                    {{ $t('ratepay.articlePanel.tab.return') }}
                </sw-tabs-item>
            </sw-tabs>
        </sw-card>
        <template v-if="activeTab === 'shipping'">
            <sw-card
                class="button-card">
                <sw-button-group>
                    <sw-button class="sw-button--small">{{ $t('ratepay.articlePanel.action.setZero') }}</sw-button>
                    <sw-button class="sw-button--small">{{ $t('ratepay.articlePanel.action.deliverSelection') }}</sw-button>
                    <sw-button class="sw-button--small">{{ $t('ratepay.articlePanel.action.cancelSelection') }}</sw-button>
                    <sw-button class="sw-button--small">{{ $t('ratepay.articlePanel.action.cancelSelectionWithStock') }}</sw-button>
                </sw-button-group>
                <sw-button-group>
                    <sw-button class="sw-button--small">{{ $t('ratepay.articlePanel.action.addCredit') }}</sw-button>
                    <sw-button class="sw-button--small">{{ $t('ratepay.articlePanel.action.addDebit') }}</sw-button>
                </sw-button-group>
            </sw-card>
            <sw-card
                class="grid-card">
                <sw-data-grid
                    :dataSource="items"
                    :columns="columns"
                    :showSelection="false"
                    :showActions="false"
                    :showSettings="false"
                >
                    <template slot="column-quantity" slot-scope="{ item }">
                        <sw-select-field v-if="item.maxDelivery > 0" value="0">
                            <option value="0">0</option>
                            <option v-for="n in item.maxDelivery">{{ n }}</option>
                        </sw-select-field>
                        <span v-if="item.maxDelivery == 0">0</span>
                    </template>
                </sw-data-grid>
            </sw-card>
        </template>

        <template v-if="activeTab === 'return'">
            <sw-card
                class="button-card">
                <sw-button-group>
                    <sw-button class="sw-button--small">{{ $t('ratepay.articlePanel.action.setZero') }}</sw-button>
                    <sw-button class="sw-button--small">{{ $t('ratepay.articlePanel.action.returnSelection') }}</sw-button>
                    <sw-button class="sw-button--small">{{ $t('ratepay.articlePanel.action.returnSelectionWithStock') }}</sw-button>
                </sw-button-group>
            </sw-card>
            <sw-card
                class="grid-card">
                <sw-data-grid
                    :dataSource="items"
                    :columns="columns"
                    :showSelection="false"
                    :showActions="false"
                    :showSettings="false"
                >
                    <template slot="column-quantity" slot-scope="{ item }">
                        <sw-select-field v-if="item.maxReturn > 0" value="0">
                            <option value="0">0</option>
                            <option v-for="n in item.maxReturn">{{ n }}</option>
                        </sw-select-field>
                        <span v-if="item.maxReturn == 0">0</span>
                    </template>
                </sw-data-grid>
            </sw-card>
        </template>
    </sw-container>
</sw-card>
