
<sw-card
    :title="$tc('ratepay.article_panel.title')"
    class="ratepay-article-panel">
    <sw-container>
        <sw-card
            class="tabs-card">
            <sw-tabs>
                <sw-tabs-item
                    name="shipping"
                    @click="activeTab = 'shipping'">
                    {{ $t('ratepay.article_panel.shipping') }}
                </sw-tabs-item>
                <sw-tabs-item
                    name="retoure"
                    @click="activeTab = 'return'">
                    {{ $t('ratepay.article_panel.return') }}
                </sw-tabs-item>
            </sw-tabs>
        </sw-card>
        <template v-if="activeTab === 'shipping'">
            <sw-card
                class="button-card">
                <sw-button-group>
                    <sw-button class="sw-button--small">{{ $t('ratepay.article_panel.setzero') }}</sw-button>
                    <sw-button class="sw-button--small">{{ $t('ratepay.article_panel.addcredit') }}</sw-button>
                    <sw-button class="sw-button--small">{{ $t('ratepay.article_panel.adddebit') }}</sw-button>
                </sw-button-group>
            </sw-card>
            <sw-card
                class="grid-card">
                <sw-entity-listing
                    :items="entities"
                    :repository="repository"
                    :columns="columns"
                    :fullPage="false"
                    :showSelection="false"
                    :showActions="true"
                    :allowColumnEdit="false"
                    :allowInlineEdit="false"
                    :compactMode="false">

                    <template slot="column-count">
                        <sw-select-field>
                            <option selected>0</option>
                            <option v-for="n in 10">{{ n }}</option>
                        </sw-select-field>
                    </template>

                    <template slot="actions">
                        <slot name="actions">
                            <div class="sw-context-menu__group">
                                <sw-context-menu-item>
                                    {{ $t('ratepay.article_panel.deliver') }}
                                </sw-context-menu-item>
                                <sw-context-menu-item>
                                    {{ $t('ratepay.article_panel.cancel') }}
                                </sw-context-menu-item>
                                <sw-context-menu-item variant="danger">
                                    {{ $t('ratepay.article_panel.cancelStock') }}
                                </sw-context-menu-item>
                            </div>
                        </slot>
                    </template>
                </sw-entity-listing>
            </sw-card>
        </template>

        <template v-if="activeTab === 'return'">
            <sw-card
                class="button-card">
                <sw-button-group>
                    <sw-button class="sw-button--small">{{ $t('ratepay.article_panel.setzero') }}</sw-button>
                </sw-button-group>
            </sw-card>
            <sw-card
                class="grid-card">
                <sw-entity-listing
                    :items="entities"
                    :repository="repository"
                    :columns="columns"
                    :fullPage="false"
                    :showSelection="false"
                    :showActions="true"
                    :allowColumnEdit="false"
                    :allowInlineEdit="false"
                    :compactMode="false">

                    <template slot="column-count">
                        <sw-select-field>
                            <option selected>0</option>
                            <option v-for="n in 10">{{ n }}</option>
                        </sw-select-field>
                    </template>

                    <template slot="actions">
                        <slot name="actions">
                            <div class="sw-context-menu__group">
                                <sw-context-menu-item>
                                    {{ $t('ratepay.article_panel.doreturn') }}
                                </sw-context-menu-item>
                                <sw-context-menu-item variant="danger">
                                    {{ $t('ratepay.article_panel.cancelStock') }}
                                </sw-context-menu-item>
                            </div>
                        </slot>
                    </template>
                </sw-entity-listing>
            </sw-card>
        </template>
    </sw-container>
</sw-card>
