{#
  ~ Copyright (c) 2020 Ratepay GmbH
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
#}
{% block sw_order_list_smart_bar_actions_add %}
    {% parent %}

    {% block sw_order_list_smart_bar_actions_add_ratepay %}
        <sw-button @click="openRatepayCreateOrderModal">
            {{ $t('order.ratepay.create-order.newButtonText') }}
        </sw-button>
    {% endblock %}
{% endblock %}

{% block sw_order_list_content_slot %}
     {% parent %}
    <sw-modal :title="$tc('order.ratepay.create-order.newButtonText')"
              v-if="ratepayCreateOrderModal"
              @modal-close="ratepayCreateOrderModal = null">
        <ratepay-admin-create-order-form></ratepay-admin-create-order-form>
    </sw-modal>
{% endblock %}

{% block sw_order_list_delete_modal_confirm_delete_text %}
    <p v-if="item.extensions.ratepayData">
        {{ $tc('order.ratepay.modal.orderDeleteRestriction.text') }}
    </p>
    <p v-else class="sw-order-list__confirm-delete-text">
        {{ $tc('sw-order.list.textDeleteConfirm', 0, { orderNumber: `${item.orderNumber}` }) }}
    </p>
{% endblock %}

{% block sw_order_list_delete_modal_confirm %}
    <sw-button @click="onConfirmDelete(item.id)" :disabled="item.extensions.ratepayData !== undefined" variant="danger" size="small">
        {{ $tc('sw-order.list.buttonDelete') }}
    </sw-button>
{% endblock %}

